/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/
@viewport{height:device-height}
@viewport{width:device-width}
@-ms-viewport{height:device-height}
@-ms-viewport{width:device-width}

@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: url('../font/OleoScript-Regular.ttf');
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
}

body{
	min-height:100%;
}
head {
	height: 100%;
}

.app{
  background-color:#333333;
  height: 100%;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden{
  display: none;
}

.show{
    display: block;
}

/***HEADER***/
header{
	color: #000000;
	height: 30vh;
	width: 100%;
}

header h1{
  margin: 0 auto;
  display: block;
  text-align: center;
  padding-top: 23px;
  font-size: 65px;
  color:#ffffff;
  text-shadow: 2px 2px #222222;
  font-family: 'Oleo Script', cursive;
}

#headerwrd{
	color:#ff5242;
}

header a{
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 4.6vh;
  right: 1%;
  color:#ffffff;
}

.left{
  left: 10%;
}

header h2{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 40px;
	color:#ffffff;
	text-shadow: 2px 2px #222222;
	font-family: 'Oleo Script', cursive;
}

header h4{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 25px;
	margin-top: -15px;
	color:#ffffff;
	text-shadow: 2px 2px #222222;
	font-family: 'Oleo Script', cursive;
}

header h3{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 25px;
	margin-top: -15px;
	color:#ffffff;
	text-shadow: 2px 2px #2b2b2b;
	font-family: 'Oleo Script', cursive;
}

#navheader{
	margin-bottom:0px;
	height: 13vh;
	background: #2b2b2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b2b2b 1%, #212121 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2b2b2b), color-stop(100%,#212121)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b2b2b 1%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b2b2b 1%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b2b2b 1%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b2b2b 1%,#212121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#212121',GradientType=0 ); /* IE6-9 */




}

.back{
	text-shadow: 2px 2px #222222;
	font-size: 1.4em;
}

#backshow{
	text-shadow: 2px 2px #222222;
	font-size: 1.4em;
}

/***BUTTONS***/
.homebutton{
	color: #ffffff;
	border-color: 3px solid #333333;
	background: #ff5242; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff5242 0%, #EA1E1E 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5242), color-stop(100%,#EA1E1E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff5242 0%,#EA1E1E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff5242 0%,#EA1E1E 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff5242 0%,#EA1E1E 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff5242 0%,#EA1E1E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5242', endColorstr='#EA1E1E',GradientType=0 ); /* IE6-9 */
	
	width: 140px;
	height: 140px;
	border: none;
	outline:none;
	border-radius:4px;
	font-family: 'Oleo Script', cursive;
	font-weight: 200;
	
	margin:8px;
	padding:0px;
	text-shadow:0px 2px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px #222222;
	font-size: 17px;
}

.button{
	color: #ffffff;
	border-color: 3px solid #333333;
	background: #ff5242; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff5242 0%, #EA1E1E 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5242), color-stop(100%,#EA1E1E)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff5242 0%,#EA1E1E 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff5242 0%,#EA1E1E 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff5242 0%,#EA1E1E 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff5242 0%,#EA1E1E 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5242', endColorstr='#EA1E1E',GradientType=0 ); /* IE6-9 */
	
	width: 200px;
	height: 40px;
	border: none;
	outline:none;
	border-radius:4px;
	font-family: 'Oleo Script', cursive;
	font-weight: 200;
	
	margin:8px;
	padding:0px;
	text-shadow:0px 2px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px #222222;
	font-size: 18px;
}

#takePicture #getPicture{
	float:right;
	
}

#albumPicture #prevPicture{
	float:right;
}
.maincontainer{
	text-align: center;
	height:70vh;
}

.container {
	text-align: center;
	height: 87vh;
	overflow: overlay;
}

#addingNew, #menu{
	height: 100vh;
}

/***IMAGE***/
#myImage{
	max-width: 300px;
	max-height: 350px;
	margin: auto 0;
	margin-top: 10px;
}


#historyList li, #picList li{
	max-width: 28%;
	height: 55px;
	overflow: hidden;
	display: block;
	float: left;
	border: 3px solid rgb(230, 230, 230);
	border-radius: 2px;
	margin: 5px;
	box-shadow: 2px 2px #212121;
}

#historyList img, #picList img{
    width:100%;
}


#frame img{
    max-width: 100%;
    max-height: 100%;
}

/***Spinner***/

#loader{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}

.bubblingG {
    text-align: center;
    width:80px;
    height:50px;
    padding-top: 50%;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: #FA0000;
    -webkit-border-radius: 50px;
    -webkit-animation: bubblingG 1.6s infinite alternate;
}

#bubblingG_1 {
    -webkit-animation-delay: 0s;
}

#bubblingG_2 {
    -webkit-animation-delay: 0.48s;
}

#bubblingG_3 {
    -webkit-animation-delay: 0.96s;
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#FA0000;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -webkit-transform: translateY(-21px);
    }

}