/* http://meyerweb.com/eric/tools/css/reset/ 
 v2.0 | 20110126
 License: none (public domain)
*/
@viewport{height:device-height}
@viewport{width:device-width}
@-ms-viewport{height:device-height}
@-ms-viewport{width:device-width}

@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: url('../font/OleoScript-Regular.ttf');
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  overflow: hidden;
}

body{
	min-height:100%;
}
head {
	height: 100%;
}

.app{
  background-color:#333333;
  height: 100%;
}

ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.visible {
	
	display: block;
	
}
.hidden {
	display:none;
}

.show{
    display: block;
}

/***HEADERS***/
header{
	color: #000000;
	height: 40vh;
	width: 100%;
}

header h1{
	margin: 0 auto;
	display: block;
	text-align: center;
	padding-top: 2.5%;
	font-size: 400%;
	color:#ffffff;
	text-shadow: 2px 2px #222222;
	font-family: 'Oleo Script', cursive;
}

#headerwrd{
	color:#FF554F;
}

header a{
	position: absolute;
	top: 0;
	width: 100%;
	right: 1%;
	color:#ffffff;
	text-shadow: 2px 2px #222222;
	font-size: 135%;
	top: 7%;
}

.left{
  left: 10%;
}

header h2{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 230%;
	color:#ffffff;
	text-shadow: 2px 2px #222222;
	font-family: 'Oleo Script', cursive;
}

header h4{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 145%;
	margin-top: -2.5%;
	color:#ffffff;
	text-shadow: 2px 2px #222222;
	font-family: 'Oleo Script', cursive;
}

header h3{
	margin: 0 auto;
	display: block;
	text-align: center;
	font-size: 155%;
	margin-top: -2.5%;
	color:#ffffff;
	text-shadow: 2px 2px #2b2b2b;
	font-family: 'Oleo Script', cursive;
}

#navheader{
	margin-bottom:0px;
	height: 20vh;
	background: #2b2b2b; /* Old browsers */
	background: -moz-linear-gradient(top,  #2b2b2b 1%, #212121 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#2b2b2b), color-stop(100%,#212121)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #2b2b2b 1%,#212121 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #2b2b2b 1%,#212121 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #2b2b2b 1%,#212121 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #2b2b2b 1%,#212121 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2b2b', endColorstr='#212121',GradientType=0 ); /* IE6-9 */
}


/***BUTTONS***/
.homebutton{
	color: #ffffff;
	border-color: 3px solid #333333;
	background: #FF554F; /* Old browsers */
	background: -moz-linear-gradient(top,  #FF554F 0%, #b52222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF554F), color-stop(100%,#b52222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FF554F 0%,#b52222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FF554F 0%,#b52222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FF554F 0%,#b52222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FF554F 0%,#b52222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF554F', endColorstr='#b52222',GradientType=0 ); /* IE6-9 */	
	width: 23%;
	height: 71%;
	border: none;
	outline:none;
	border-radius:4px;
	font-family: 'Oleo Script', cursive;
	font-weight: 200;	
	margin:3px;
	padding:0px;
	text-shadow:0px 2px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px #222222;
	font-size: 104%;
}

.button{
	color: #ffffff;
	border-color: 3px solid #333333;
	background: #FF554F; /* Old browsers */
	background: -moz-linear-gradient(top,  #FF554F 0%, #b52222 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FF554F), color-stop(100%,#b52222)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #FF554F 0%,#b52222 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #FF554F 0%,#b52222 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #FF554F 0%,#b52222 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FF554F 0%,#b52222 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FF554F', endColorstr='#b52222',GradientType=0 ); /* IE6-9 */
	width: 50%;
	height: 11%;
	border: none;
	outline: none;
	border-radius: 4px;
	font-family: 'Oleo Script', cursive;
	font-weight: 200;
	margin: 3px 100px;
	padding: 0px;
	text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.4);
	box-shadow: 2px 2px #222222;
	font-size: 110%;
}

/***CONTAINERS***/

.maincontainer{
	text-align: center;
	height:60vh;
}

.container {
	text-align: center;
	height: 80vh;
	overflow: overlay;
}

#addingNew, #menu{
	height: 100%;
}

/***IMAGE***/
#myImage{
	max-width: 80%;
	max-height: 70%;
	margin: 0px;
	margin-top: 5px;
}


#historyList li, #picList li{
	max-width: 22%;
	height: 65px;
	overflow: hidden;
	display: block;
	float: left;
	border: 3px solid rgb(230, 230, 230);
	border-radius: 2px;
	margin: 5px;
	box-shadow: 2px 2px #212121;
}

/***LISTS***/

#historyList img, #picList img{
    width:100%;
}


#frame img{
    max-width: 100%;
    max-height: 100%;
}

/***Spinner***/

#loader{
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.7);
}

.bubblingG {
    text-align: center;
    width:80px;
    height:50px;
    padding-top: 50%;
}

.bubblingG span {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin: 25px auto;
    background: #FA0000;
    -webkit-border-radius: 50px;
    -webkit-animation: bubblingG 1.6s infinite alternate;
}

#bubblingG_1 {
    -webkit-animation-delay: 0s;
}

#bubblingG_2 {
    -webkit-animation-delay: 0.48s;
}

#bubblingG_3 {
    -webkit-animation-delay: 0.96s;
}

@-webkit-keyframes bubblingG {
    0% {
        width: 10px;
        height: 10px;
        background-color:#FA0000;
        -webkit-transform: translateY(0);
    }

    100% {
        width: 24px;
        height: 24px;
        background-color:#FFFFFF;
        -webkit-transform: translateY(-21px);
    }

}